.faq {
  width: 100%;
  padding: 64px 0;
}

.faq-wrapper {
  width: 61.4%;
  margin: 0 auto;
}

.faq-header {
  width: 100%;
  margin-bottom: 24px;
}

.faq-list {
  display: flex;
  flex-direction: column;
}

.faq-item {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.faq-item:last-child {
  border-bottom: 1px solid #ccc;
}

.faq-item .faq-question {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 20px;
  position: relative;
}

.faq-tag {
  background-color: #efefef;
  color: #222;
  width: 50px;
  height: 18px;
  font-size: 0.68rem;
  text-align: center;
  padding: 2px 8px;
  border-radius: 50px;
  margin-right: 8px;
  flex-shrink: 0;
}

.faq-text {
  flex-grow: 1;
  font-size: 1rem;
  color: #555;
  margin-bottom: 0;
}

.faq-date {
  width: 100%;
  font-size: 0.75rem;
  color: #999;
  margin-top: 10px;
}

.faq-icn {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  transform: translateY(-50%);
}

@media screen and (max-width: 1024px) {
  .faq {
    padding-top: 100px;
  }

  .faq-header {
    margin-bottom: 10%;
  }
}

@media screen and (max-width: 425px) {
  .faq-header {
    margin-bottom: 15%;
  }

  .faq-tag,
  .faq-date {
    display: none;
  }

  .faq-text {
    font-size: 0.7rem;
  }

  .faq-icn {
    width: 10px;
    height: 10px;
  }
}

@media screen and (max-width: 375px) {
  .faq-text {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 320px) {
  .faq-list {
    width: 120%;
    transform: translateX(-10%);
  }

  .faq-text {
    font-size: 0.5rem;
  }

  .faq-icn {
    width: 10px;
    height: 10px;
  }
}
